echo ".vscode/browse.vc.db" >> .gitignore

# === ROS 2 ===
build/
install/
log/
.colcon/
*.pyc
__pycache__/
*.log
*.egg-info/

# === VS Code ===
.vscode/*.db
.vscode/*.db-wal
.vscode/*.db-shm
.vscode/settings.json
.vscode/launch.json

# === Python virtualenv ===
venv/
.venv/

# === General ===
*.swp
*.bak
.DS_Store
Thumbs.db



